

/* Add styles for the buttons */
#noun1 { background-color: violet; }
#verb { background-color: blue; }
#adjective { background-color: green; }
#noun2 { background-color: orange; }
#setting { background-color: pink; }


body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

section {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    margin: 5px;
    border: none;

    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}
